/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Viga&display=swap');
@font-face{
	font-family: "PostNoBills";
	src: url("/fonts/PostNoBillsJaffna-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}


.body{
	display: flex;
	max-width: 100%;
}
.wrapper{
	display:flex;
	width: 100%;
	.conteiner{
		width: 100%;
		display: flex;
		flex-direction: column;
			.head{
				width: 100%;
				height: 40px;
				color: #969696;
				background: black;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				font-family: 'PT Sans';
				font-size: 15px;
				.number{
					display: flex;
					flex-direction: row;
					.iconPhone{
						padding-right:5px;
					}
				}
				.login{
					display: flex;
					flex-direction: row;
					.iconLogin{
						padding-right:5px;
					}
				}
			}
			.hover{
				height: 80px;
				text-transform: uppercase;
				background: #0F0F0F;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.titleHover{
					padding: 0 0 0 200px;
					font-family: "PostNoBills";
					color: white;
					font-size: 30px;
				}
				.bodyHover{
					padding: 0 200px 0 0;
					i{
						color: white;
						margin-left: 20px;
					}
					button{
						color: #969696;
						font-size: 15px;
						height: 80px;
						width:136px;
						background: #0F0F0F;
						:hover{
							background: #1F1F1F;
						}
					}
				}
			}
			.bodyPage{
				display: flex;
				height: 700px;
				width: 100%;
				flex-direction: column;
				background: #18b5a4 url("/img/Rectangle\ 3.png")0 0/100% 100% no-repeat;
				align-items: center;
				justify-content: center;
				.imageTitleBlock{
					display: flex;
					flex-direction: column;
					width: 320px;
					height: 320px;
					border: 4px solid white;
					color: white;
					text-transform: uppercase;
					align-items: center;
					justify-content: center;
					.imgTitleName{
						font-family: "PostNoBills";
						font-size: 60px;
						// text-decoration: underline 3px;
						border-bottom: 3px solid white;
					}
					.imgTitleAdress{
						margin-top: 10px;
						font-size: 21px;
						font-family: 'PT Sans';
					}
				}
				.imageTextBlock{
					padding-top: 50px;
					color: white;
					width:730px;
					font-size: 21px;
					font-family: 'PT Sans';
					text-align: center;
				}
			}
			.mag{
				height: 200px;
				width: 100%;
				background: black;
			}
			.collectionConteiner{
				display: flex;
				justify-content: center;
				
				.seasonBlock{
					display: flex;
					flex-direction: column;
					height: 500px;
					background: black;
					width: 50%;
					
					align-items: center;
					p{
						padding: 10% 0 0 0;
						color: white;
						font-family: 'Playfair Display', serif;
						font-size: 26px;
					}
					.itemsBlock{
						display: flex;
						width: 100%;
						padding: 10% 0 0 0;
						flex-direction: row;
						justify-content: space-evenly;
						.itemColletcion{
							display: flex;
							height: 220px;
							width:170px;
							background-color: #191B1C;
							justify-content: center;
							align-items: center;
							.itemImg{
								height: 160px;
								width: 170px;
								background: url("/img/item.png") 0 0/auto 100% no-repeat;
							}
						}
					}
					.itemsNameBlock{
						display:flex;
						width: 100%;
						flex-direction: row;
						justify-content: space-evenly;
						.itemText{
							display: flex;
							width: 170px;
							flex-direction: column;
							// padding: 0 100px 0 0;
							.nameCount{
								font-size: 16px;
							}
							.priceCount{
								font-size: 13px;
							}
						}
					}
				}
				.collectionBlock{
					display:flex;
					flex-direction: column;
					height: 500px;
					width: 50%;
					color: white;
					text-transform: uppercase;
					font-family: 'Playfair Display', serif;
					background: url("/img/manColl.png") 0 0/100% auto no-repeat;
					align-items: center;
					#newColl{
						display: inline-block;
						font-family: 'Playfair Display', serif;
						position: relative;
						padding: 45% 0 0 0;
						font-size: 45px;
						margin: 0 0 4px;
						}
						#newColl::after{
							content:'';
							height: 1px;
							width: 30%;
							background:white;
							position: absolute;
							left: calc(60% - 25%);
							bottom: -25px;
						}
					
					.btnColl{
						margin: 10% 0 0 0;
						text-transform: uppercase;
						color: white;
						width:150px;
						height: 35px;
						border: 1px solid white;
						background: rgb(207, 104, 104,0.0);
					}
				}
			}
			.jacketBlock{
				display: flex;
				flex-direction: row;
				height: 500px;
				width: 100%;
				.jacketItem{
					background: url("/img/jacket.png") 0 0/auto 100% no-repeat;
					width: 50%;
					height: 500px;
				}
				.collWatch{
					display: flex;
					flex-direction: column;
					width: 50%;
					height: 500px;
					background: black;
					align-items: center;
					.oldColl{
						display: inline-block;
						padding: 10% 0 0 0;
						font-size: 30px;
						height: 150px;
						text-transform: uppercase;
						color: white;
						margin: 0 0 4px;
						border-bottom: 1px solid white;
						
					}
					p{
						padding: 10% 0 0 0;
						font-family: 'Playfair Display';
						font-weight: 200;
						color: white;
						text-align: center;
						margin: 0 70px 0 70px;
					}
					
					
					.btnOpen{
						margin: 10% 0 0 0;
						color: white;
						text-transform: uppercase;
						width: 250px;
						height: 50px;
						background:rgb(207, 104, 104,0.0);
						border: 1px solid white;
					}
				}
			}
			.newClock{
				display: flex;
				flex-direction: column;
				height: 1000px;
				width: 100%;
				background: black;
				color: white;
				// justify-content: center;
				align-items: center;
				.titleClock{
					padding: 60px 0 0 0;
					font-family: 'Playfair Display';
					font-size: 30px;

				}
				.conteinerClock{
					display:flex;
					flex-direction: row;
					flex-wrap: wrap;
					width: 100%;
					padding: 50px 0 0px 10%;
					
					.itemConteiner{
						width: 250px;
						height: 320px;
						margin: 40px 10px 10px 10px;
						.itemClock{
							display:flex;
							width:250px;
							height: 300px;
							background: #191B1C;
							.clock{
								width:250px;
								height: 320px;
								background:url("/img/item.png")20px 25px/80% auto no-repeat;
							}
						}
						.namePrice{
							p:first-child{
								font-size: 20px;
								padding: 10px 0 0 0;
							}
							p:last-child{
								font-size: 15px;
								padding: 10px 0 0 0;
							}
							
						}
							
						
					}
				}
			}
			.brandBlock{
				display:flex;
				flex-direction: column;
				height: 260px;
				width:100%;
				background:#0F0F0F;
				align-items: center;
				.titleBrand{
					padding: 50px 0 0 0;
					color:white;
					font-family: 'Playfair Display';
					font-size: 35px;
				}
				.brandsIcon{
					display: flex;
					flex-direction: row;
					width: 100%;
					height: 200px;
					// background: gray;
					margin: 40px 0 0 0;
					justify-content: center;
					.itemBrand{
						height: 100px;
						width: 220px;
						background:url("/img/brand.png")0 0/100% auto no-repeat;
					}
				}
			}
			.aboutShopConteiner{
				display: flex;
				flex-direction: row;
				color: white;
				height: 280px;
				width: 100%;
				justify-content: space-evenly;
				background:url("/img/about.png")0 0/100% auto no-repeat;
				.about{
					padding: 40px 0 0 0;
					width:350px; 
					.titleAbout{
						text-transform: uppercase;
						font-family: 'Playfair Display';
						font-size: 26px;
					}
					.bodyAbout{
						padding: 25px 0 0 0;
						font-family: 'PT Sans';
						font-size: 16px;
					}
				}
				.categories{
					display: flex;
					flex-direction: column;
					padding: 40px 0 0 0;
					.titleCat{
						text-transform: uppercase;
						font-family: 'Playfair Display';
						font-size: 26px;
					}
					.btnsCat{
						width: 220px;
						padding: 25px 0 0 0;
						button{
							background:#0F0F0F;
							color:white;
							margin: 5px 3px 5px 3px;
							height: 41px;
							padding: 0 10px 0 10px;
						}
					}
				}
				.mailing{
					width:400px;
					padding: 40px 0 0 0;
					.titleMailing{
						text-transform: uppercase;
						font-family: 'Playfair Display';
						font-size: 26px;
					}
					.bodyMailing{
						padding: 25px 0 0 0;
						font-family: 'PT Sans';
						font-size: 16px;
					}
					.formArea{
						padding: 20px 0 0 0;
						#email{
							height: 35px;
							width:250px;
							background:rgb(255,255,255,0.5);
						}
						.submitForm{
							color:white;
							background:#0F0F0F;
							width:145px;
							height: 35px;
						}
					}
				}
			}
			.ending{
				display:flex;
				width:100%;
				height: 30px;
				background: black;
				color: #D0D0D0;
				align-items: center;
				padding: 0 0 0 100px;
				p{

				}
			}
		}
	}


